//
   Created by 明阳 on 2014/12/22.
doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=GBK')
        title Slot Machine II
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/three.min.js')
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/CSS3DRenderer.js')
        script(type='text/javascript', src='/javascripts/action.js')
    body
        p#log
        // <video autoplay="autoplay" loop="loop" src="background1.mp4">
        canvas#bg
