//
   Created by 明阳 on 2014/12/22.
doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=GBK')
        title Slot Machine II
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/three.min.js')
        script(type='text/javascript', src='/javascripts/tween.min.js')
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/CSS3DRenderer.js')
        script(type='text/javascript', src='/javascripts/action.js')
        script(type='text/javascript', src='/javascripts/slot.js')
        script(type='text/javascript', src='/javascripts/list.js')
        audio#click(src="/audio/click.mp3")
        audio#bg(src="/audio/bg.mp3",loop=true)
        audio#run(src="/audio/running.mp3",loop=true)
        audio#got(src="/audio/got.mp3",loop=true)
    body
        video#video(autoplay,loop,src="/video/bg.mp4")
