//
   Created by 明阳 on 2014/12/22.
doctype html
html
   head
      title Slot Machine
      link(rel='stylesheet', href='/stylesheets/slot.css')
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/Fonts/Slackey.css')
      script(src="/javascripts/jquery/1.9.1/jquery.min.js")
   body
      #viewpoart
         #container
            #header
               h1 抽奖程序
               h3 ipad and yoga
            #reels
               canvas#slot1




